{% extends 'base.html' %}
{% load widget_tweaks %}
{% block layout %}
<div class="container mt-5">
    <h1 class="mb-4">Upload Test</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:"form-control" }}
                {% if field.errors %}
                    <div class="text-danger">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
    {% if form.non_field_errors %}
        <div class="alert alert-danger mt-3">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
</div>
{% endblock %}
